        </div>
        <footer class="footer py-3 bg-light">
            <div class="container text-center">
              <span class="text-muted">Made with ❤️ by &copy The Kadiyala Mani 2023</span>
            </div>
        </footer>
    </body>
</html>