<%- include("partials/header"); -%>

<div class="row row-cols-auto align-items-center">
	<div class="col">
		<h3 class="my-3">Keep Your Shelves Stocked</h3>
	</div>
	<div class="col">
		<button
			type="button"
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-bs-target="#categoryModal">
			Add New Category
		</button>
		<div class="modal" id="categoryModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form action="/inventory/category/crud" method="post">
						<div class="modal-header">
							<h5 class="modal-title">Spice Up Our Inventory</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating">
								<input
									type="text"
									name="category"
									class="form-control"
									id="flaotingInputValue"
									placeholder="New Category"
									required />
								<label for="floatingInputValue">New Category</label>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="submit"
								class="btn btn-primary"
								name="crud"
								value="create">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<button type="button" class="btn btn-primary" id="out-of-stock">
			<i class="fa-solid fa-boxes-stacked"></i>
		</button>
	</div>
</div>
<div class="row d-flex justify-content-around card-deck">
	<% Categories.forEach(function(category) { %>
	<!-- TODO: Edit and Remove Icons and Forms for each category, should delete from category model, then corresponding products from product model, similarly for edit -->
	<div class="col-4 py-3">
		<a href="/Inventory/category/<%=category.id%>/products">
			<div class="card">
				<img
					class="card-img-top"
					src="https://www.lalpathlabs.com/blog/wp-content/uploads/2019/01/Fruits-and-Vegetables.jpg" />
				<div class="card-body">
					<h5 class="card-title text-center"><%=category.name%></h5>
				</div>
			</div>
		</a>
	</div>
	<% }) %>
</div>

<script>
	// Get all the modal elements
	const modals = document.querySelectorAll(".modal");

	// Loop through each modal and add an event listener to the "hide.bs.modal" event
	modals.forEach((modal) => {
		modal.addEventListener("hide.bs.modal", () => {
			// Get the corresponding form element
			const form = modal.querySelector("form");

			// Reset the form elements
			form.reset();
		});
	});

	// Out of Stock Request
	document.getElementById("out-of-stock").addEventListener("click", () => {
		axios.get("/inventory/outOfStock");
	});
</script>

<%- include("partials/footer"); -%>
